@media (max-width: 800px){
    .day-stats .charts div{
        font-size: 60% !important;
    }
    .day-stats canvas{
        margin: 10px auto 0 auto;
    }
    .day-stats .charts{
        border: 1px solid #e0e0e0;
        margin: 10px 0px 20px 0px;
        border-radius: 5px;
    }
}

@media (min-width: 800px){
    .day-stats {
        width: 100%;
    }

    .day-stats div {
        width: 100%;
    }
}

@media (min-width: 1200px){
    .day-stats {
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-items: center;
        align-items: center;
    }

    .day-stats .charts {
        margin: 10px 0 10px 0;
        border: 1px solid #e0e0e0;
        border-radius: 5px;
        width: 100%;
        padding: 0px 0 20px 0;
    }
    .day-stats canvas{
        margin: 0 auto 0 auto;
    }
}

.day-stats .charts div {
    background-color: #f7f7f7;
    padding: 10px 0px 10px 10px;
    font-size: 90%;
    color: #858484;
    border-top-right-radius: 5px;
    border-top-left-radius: 5px;
    border-bottom: 1px solid #f6f6fc;
}
.day-stats .charts div span{
    color: #435d96;
}