.commit-year-list{
    display: grid;
    grid-template-rows: repeat(2,1fr);
    grid-template-columns: repeat(6,1fr);
    margin-top: 10px;
}

.year-heading{
    text-align: center;
    font-size: 35px;
}

@media (max-width:600px)
{
    .commit-year-list{
        grid-template-rows:repeat(5,1fr) ;
        grid-template-columns:repeat(2,1fr) ;
    }
}