@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab&family=Rubik&display=swap');
body {
  margin: 0;
  font-family: -apple-system,
  BlinkMacSystemFont, 'Rubik',
  sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.a-stats::-webkit-scrollbar{
  width: 0px;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

button{
  color: rgb(83, 83, 207);
  background-color: white;
  border: none;
  appearance: none;
}

a{
  text-decoration: none;
  color: rgb(83, 83, 207);
}

button :hover{
  color: black;
}

.stats{
    padding: 7px 4px 7px 4px;
    border-bottom: 1px solid #dfdfdf;
    display: flex;
    justify-content: space-evenly;
}
.stats .btn{
  padding: 3px 7px 3px 7px;
  font-size: 80%;
}
.a-stats{
  margin-left: auto;
  margin-right: auto;
  border: 1px solid #ebecec;
  border-radius: 5px;
}



#act-scrollbar::-webkit-scrollbar {
  width: 0px;
}

.f-div::-webkit-scrollbar {
  width: 0px;
}

@media (max-width: 800px){
  .a-stats{
    width: 90%;
  }
}
@media(min-width: 800px){
  .a-stats {
    width: 100%;
  }
  main {
    width: 70%;
    margin: 0 auto 0 auto;
    display: flex;
    flex-direction: column;
  }
}


@media(min-width: 1200px) {
  .App {
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
  main{
    grid-column: 1/4;
    width: 100%;
    margin: 0 auto 0 auto;
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-items: center;
    gap: 20px;
  }
  footer{
    grid-column: 1/4;
  }
  .day-stats canvas{
    height: 290px !important;
    width: 550px !important;
  }
  .a-stats {
    width: 100%;
    overflow-y: scroll;
    height: 700px;
    margin: 10px 0 10px 0;
  }
}



/*---------------------*/
/*Animations*/
/*---------------------*/
.profileName span:nth-of-type(1) {
  position: relative;
  animation: profileAnimate;
  animation-duration: 0.5s;
  animation-fill-mode: forwards;
}

.profileName span:nth-of-type(2) {
  position: relative;
  animation: profileAnimate;
  animation-duration: 1s;
  animation-fill-mode: forwards;
}

.profileName span:nth-of-type(3) {
  position: relative;
  animation: profileAnimate;
  animation-duration: 1.5s;
  animation-fill-mode: forwards;
}

.profileName span:nth-of-type(4) {
  position: relative;
  animation: profileAnimate;
  animation-duration: 2s;
  animation-fill-mode: forwards;
}

.profileName span:nth-of-type(5) {
  position: relative;
  animation: profileAnimate;
  animation-duration: 2.5s;
  animation-fill-mode: forwards;
}

img {
  position: relative;
  animation: profileAnimate;
  animation-duration: 2s;
  animation-fill-mode: forwards;
}

@keyframes profileAnimate {
  0% {
    bottom: -20px;
    opacity: -1;
  }

  100% {
    bottom: 0px;
    opacity: 1;
  }
}

.f-details span:nth-of-type(1) {
  position: relative;
  animation: followAnimate;
  animation-duration: 2s;
  animation-fill-mode: forwards;
}

@keyframes followAnimate {
  0% {
    top: -20px;
    opacity: -1;
  }

  100% {
    top: 0px;
    opacity: 1;
  }
}