.repo-scroll {
    overflow-y: scroll;
    height: 410px;
    font-size: 80%;
    height: 655px;
}

.repo-detail {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 15px 10px;
    padding: 10px 10px 10px 15px;
    border-bottom: #f0f0f0 1px solid;
}

.repo-name {
    grid-column: 1/3;
    font-size: 120%;
}

.repo-more {
    text-align: right;
}

.repo-desc {
    grid-column: 1/4;
}

.repo-forks {
    grid-column: 1/3;
    text-align: center;
}

.repo-site {
    grid-column: 2/4;
    text-align: right;
}